
	</div><!-- end of container -->

	<footer>
		<div class="row">
			<p class="footerpar">YelpCamp Ltd. &copy; 2016 | <strong>By Roman Tuomisto</strong></p>
		</div>
	</footer>
	<!-- <script type="text/javascript" src="../../scripts/app.js"></script> -->
	<script type="text/javascript" src="../../scripts/jquery-1.12.1.js"></script> 
	<script type="text/javascript" src="../../bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../scripts/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	<script type="text/javascript" src="../../scripts/validate.js"></script>
	</body>
</html>