<% include ../partials/header %>

<section>
	<div class="row bgcForm">
		<h1 class="text-center">Add a new Comment to <%= Campground.name %></h1>
		<div class="inputs">
		<form action="/campgrounds/<%= Campground._id %>/comments" method="POST">
			<div class="form-group">
				<input class="form-control" type="text" name="Comment[text]" placeholder="text">
			</div>
			<div class="form-group">			
				<button class="btn btn-lg btn-primary btn-block">Add</button>
			</div>
			<div class="form-group">
				<a class="btn btn-primary btn-lg btn-block" href="/campgrounds">Back to Campgrounds</a>
			</div>
		</div>
	</div>
</section>

<% include ../partials/footer %>