<% include ./partials/headerLanding %>


 	<div id="landing-header">
 		<h1>YelpCamp</h1>
 		<p>Start planning your next trip today</p>
 		<hr>
 		<a href="/campgrounds" class="btn btn-default btn-lg"><i class="fa fa-tree"></i> View Campgrounds</a>
	</div>
	<ul class="slideshow">
 		<li></li>
 		<li></li>
 		<li></li>
 		<li></li>
 		<li></li>
 	</ul>
 
 <script src="../scripts/background.js"></script>

<% include ./partials/footerlanding %>