<% include ./partials/header %>

<section>
    <% if(message.length > 0) { %>
      <div class="alert alert-danger alert-dismissible fade in">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= message %>
      </div>
    <% } %>

	<div class="row bgcForm">
		<div class="col-md-8">
		<h1>Sign Up</h1>
		<hr class="style-two" />
			<form id="signUpForm" class="form-horizontal">
				<div class="form-group">
					<label for="email-check" class="control-label col-md-2">Email: </label>
					<div class="col-md-6">
						<input class="form-control" id="email-check" type="email" name="email" placeholder="Email"/>
					</div>
					
					<span class="infoSpan col-md-4" id="emailInfo"></span>
				</div>
				<div class="form-group">
					<label for="firstname-check" class="control-label col-md-2">Firstname: </label>
					<div class="col-md-6">
						<input class="form-control" id="firstname-check" name="firstname" type="text" placeholder="Firstname" />
					</div>
					
					<span class="infoSpan col-md-4" id="firstnameInfo"></span>
				</div>
				<div class="form-group">
					<label for="lastname-check" class="control-label col-md-2">Lastname: </label>
					<div class="col-md-6">
						<input class="form-control" id="lastname-check" name="lastname" type="text" placeholder="Lastname"/>
					</div>
					
					<span class="infoSpan col-md-4" id="lastnameInfo"></span>
				</div>
				<div class="form-group">
					<label for="username-check" class="control-label col-md-2">Username: </label>
					<div class="col-md-6">
						<input id="username-check" class="form-control" name="username" type="text" placeholder="username"/>
					</div>
					
					<span class="infoSpan col-md-4" id="usernameInfo"></span>
				</div>
				<div class="form-group">
					<label for="password-check" class="control-label col-md-2">Password: </label>
					<div class="col-md-6">
						<input id="password-check" class="form-control" name="password" type="password" name="password" placeholder="password"/>
					</div>
					<span class="infoSpan col-md-4" id="passwordInfo"></span>
				</div>
				<div class="form-group">
					<label for="confPassword" class="control-label col-md-2">Confirm Password:</label>
					<div class="col-md-6">
						<input id="confPassword" class="form-control" type="password" placeholder="Confirm password"/>
					</div>
					<span class="infoSpan col-md-4" id="confPasswordInfo"></span>
				</div>
				<div class="form-group">
					<div class="col-md-6 col-md-offset-2">
						<button type="submit" id="submit-btn" class="btn btn-info btn-block"><i class="fa fa-user-plus" aria-hidden="true"></i> Register</button>
					</div>
					
					<span class="infoSpan" id="submitInfo"></span>
				</div>
			</form>
		</div>
		<div class="col-md-4">
			<h1>Password recovery</h1>
			<hr class="style-two">
			<p>Forgot your password? <br> No worries, you can recover it here!</p>
			<form action="/passwordrecover" method="POST">
				<input class="form-control" type="email" name="email" placeholder="Enter your email here" />
				<button class="btn btn-primary btn-block"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Recover your Password</button>
			</form>
		</div>
		</div>
	</div>
</section>

<% include ./partials/footer %>